postcard/*.iml
postcard/.gradle
postcard/local.properties
postcard/.idea/caches
postcard/.idea/libraries
postcard/.idea/modules.xml
postcard/.idea/workspace.xml
postcard/.idea/navEditor.xml
postcard/.idea/assetWizardSettings.xml
postcard/.DS_Store
postcard/build
postcard/captures
postcard/.externalNativeBuild
postcard/.cxx
postcard/local.properties
