postcard/*.iml
postcard/.gradle
postcard/local.properties
postcard/.idea
postcard/.DS_Store
postcard/build
postcard/captures
postcard/.externalNativeBuild
postcard/.cxx
postcard/local.properties

nespresso/*.iml
nespresso/.gradle
nespresso/local.properties
nespresso/.idea
nespresso/.DS_Store
nespresso/build
nespresso/captures
nespresso/.externalNativeBuild
nespresso/.cxx
nespresso/local.properties
